spring:
  application:
    name: foosball
  
  datasource:
    url: jdbc:postgresql://ls-3cd9e093f05f5c4d801b58031197f04063b55800.cmldxjsfqvn4.us-east-1.rds.amazonaws.com:5432/dbmaster
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
    url: ${spring.datasource.url}
    user: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    database-change-log-table: foosball_changelog
    database-change-log-lock-table: foosball_changelog_lock
  
  data:
    jpa:
      database-platform: org.hibernate.dialect.PostgreSQLDialect
      hibernate:
        ddl-auto: validate
      show-sql: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://thonbecker.us.auth0.com/

server:
  port: 8080
  servlet:
    context-path: /
  forward-headers-strategy: native

management:
  endpoints:
    web:
      exposure:
        include: "*"
